* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  background-color: rgb(20, 20, 77);
}
header h1 {
  color: green;
  font-size: 40px;
  font-weight: bold;
  background-color: yellow;
  padding: 10px;
  border: 5px solid orange;
}
header a {
  text-decoration: none;
  color: purple;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
header nav {
  margin: 20px;
}
header nav ul li a {
  padding: 8px;
  font-size: 28px;
  margin: 20px 20px 0 0;
  font-weight: bold;
}
.title {
  border-right: 5px solid brown;
  min-height: 100%;
  text-align: right;
  padding-right: 40px;
  min-width: 20%;
  max-width: 20%;
}
.title h2 {
  font-size: 48px;
}
.aboutme {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 30px;
}
.aboutme p {
  font-size: 20px;
    padding: 0 30px;
    line-height: 1.6;
    width: 90%;
}



