header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: rgb(54, 54, 63);
    color: rgb(143, 0, 0);
  
}
h1 {
    font-size: 200% ;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 2;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }
  
nav a {
    background-color: unset;
    color: var(--navlink-color);
    font-weight: bold;
    text-decoration: none;
  }
  
  nav a:hover {
    color: var(--light);
    /* pop up giving silly message */
    
  }
  img {
    
  }




  
@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
resetImg {

}

}